
# Bank Account Verification

## Structure

`BankAccountVerification`

## Fields

| Name | Type | Tags | Description | Getter | Setter |
|  --- | --- | --- | --- | --- | --- |
| `Deposit1InCents` | `Long` | Optional | - | Long getDeposit1InCents() | setDeposit1InCents(Long deposit1InCents) |
| `Deposit2InCents` | `Long` | Optional | - | Long getDeposit2InCents() | setDeposit2InCents(Long deposit2InCents) |

## Example (as JSON)

```json
{
  "deposit_1_in_cents": 142,
  "deposit_2_in_cents": 132
}
```

