
# Bank Account Verification

## Structure

`BankAccountVerification`

## Fields

| Name | Type | Tags | Description | Getter | Setter |
|  --- | --- | --- | --- | --- | --- |
| `Deposit1InCents` | `Integer` | Optional | - | Integer getDeposit1InCents() | setDeposit1InCents(Integer deposit1InCents) |
| `Deposit2InCents` | `Integer` | Optional | - | Integer getDeposit2InCents() | setDeposit2InCents(Integer deposit2InCents) |

## Example (as JSON)

```json
{
  "deposit_1_in_cents": 142,
  "deposit_2_in_cents": 132
}
```

