/*
 * MaxioAdvancedBillingFormerlyChargifyAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.chargify.subdomain.controllers;

import com.chargify.subdomain.ApiHelper;
import com.chargify.subdomain.Server;
import com.chargify.subdomain.exceptions.ApiException;
import com.chargify.subdomain.http.request.HttpMethod;
import com.chargify.subdomain.models.CleanupScopeEnum;
import com.chargify.subdomain.models.ListPublicKeysResponse;
import com.chargify.subdomain.models.SiteResponse;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class SitesController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public SitesController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * This endpoint allows you to fetch some site data. Full documentation on Sites in the Chargify
     * UI can be located [here](https://chargify.zendesk.com/hc/en-us/articles/4407870738587).
     * Specifically, the [Clearing Site
     * Data](https://maxio-chargify.zendesk.com/hc/en-us/articles/5405428327309) section is
     * extremely relevant to this endpoint documentation. #### Relationship invoicing enabled If
     * site has RI enabled then you will see more settings like: "customer_hierarchy_enabled": true,
     * "whopays_enabled": true, "whopays_default_payer": "self" You can read more about these
     * settings here: [Who Pays & Customer
     * Hierarchy](https://chargify.zendesk.com/hc/en-us/articles/4407746683291).
     * @return    Returns the SiteResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public SiteResponse readSite() throws ApiException, IOException {
        return prepareReadSiteRequest().execute();
    }

    /**
     * This endpoint allows you to fetch some site data. Full documentation on Sites in the Chargify
     * UI can be located [here](https://chargify.zendesk.com/hc/en-us/articles/4407870738587).
     * Specifically, the [Clearing Site
     * Data](https://maxio-chargify.zendesk.com/hc/en-us/articles/5405428327309) section is
     * extremely relevant to this endpoint documentation. #### Relationship invoicing enabled If
     * site has RI enabled then you will see more settings like: "customer_hierarchy_enabled": true,
     * "whopays_enabled": true, "whopays_default_payer": "self" You can read more about these
     * settings here: [Who Pays & Customer
     * Hierarchy](https://chargify.zendesk.com/hc/en-us/articles/4407746683291).
     * @return    Returns the SiteResponse response from the API call
     */
    public CompletableFuture<SiteResponse> readSiteAsync() {
        try { 
            return prepareReadSiteRequest().executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for readSite.
     */
    private ApiCall<SiteResponse, ApiException> prepareReadSiteRequest() throws IOException {
        return new ApiCall.Builder<SiteResponse, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/site.json")
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .authenticationKey(BaseController.AUTHENTICATION_KEY)
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, SiteResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This call is asynchronous and there may be a delay before the site data is fully deleted. If
     * you are clearing site data for an automated test, you will need to build in a delay and/or
     * check that there are no products, etc., in the site before proceeding. **This functionality
     * will only work on sites in TEST mode. Attempts to perform this on sites in “live” mode will
     * result in a response of 403 FORBIDDEN.**.
     * @param  cleanupScope  Optional parameter: `all`: Will clear all products, customers, and
     *         related subscriptions from the site. `customers`: Will clear only customers and
     *         related subscriptions (leaving the products untouched) for the site. Revenue will
     *         also be reset to 0. Use in query `cleanup_scope=all`.
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public void clearSite(
            final CleanupScopeEnum cleanupScope) throws ApiException, IOException {
        prepareClearSiteRequest(cleanupScope).execute();
    }

    /**
     * This call is asynchronous and there may be a delay before the site data is fully deleted. If
     * you are clearing site data for an automated test, you will need to build in a delay and/or
     * check that there are no products, etc., in the site before proceeding. **This functionality
     * will only work on sites in TEST mode. Attempts to perform this on sites in “live” mode will
     * result in a response of 403 FORBIDDEN.**.
     * @param  cleanupScope  Optional parameter: `all`: Will clear all products, customers, and
     *         related subscriptions from the site. `customers`: Will clear only customers and
     *         related subscriptions (leaving the products untouched) for the site. Revenue will
     *         also be reset to 0. Use in query `cleanup_scope=all`.
     * @return    Returns the void response from the API call
     */
    public CompletableFuture<Void> clearSiteAsync(
            final CleanupScopeEnum cleanupScope) {
        try { 
            return prepareClearSiteRequest(cleanupScope).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for clearSite.
     */
    private ApiCall<Void, ApiException> prepareClearSiteRequest(
            final CleanupScopeEnum cleanupScope) throws IOException {
        return new ApiCall.Builder<Void, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/sites/clear_data.json")
                        .queryParam(param -> param.key("cleanup_scope")
                                .value((cleanupScope != null) ? cleanupScope.value() : "all").isRequired(false))
                        .authenticationKey(BaseController.AUTHENTICATION_KEY)
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .nullify404(false)
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint returns public keys used for Chargify.js.
     * @param  page  Optional parameter: Result records are organized in pages. By default, the
     *         first page of results is displayed. The page parameter specifies a page number of
     *         results to fetch. You can start navigating through the pages to consume the results.
     *         You do this by passing in a page parameter. Retrieve the next page by adding ?page=2
     *         to the query string. If there are no results to return, then an empty result set will
     *         be returned. Use in query `page=1`.
     * @param  perPage  Optional parameter: This parameter indicates how many records to fetch in
     *         each request. Default value is 20. The maximum allowed values is 200; any per_page
     *         value over 200 will be changed to 200. Use in query `per_page=200`.
     * @return    Returns the ListPublicKeysResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ListPublicKeysResponse listChargifyJsPublicKeys(
            final Integer page,
            final Integer perPage) throws ApiException, IOException {
        return prepareListChargifyJsPublicKeysRequest(page, perPage).execute();
    }

    /**
     * This endpoint returns public keys used for Chargify.js.
     * @param  page  Optional parameter: Result records are organized in pages. By default, the
     *         first page of results is displayed. The page parameter specifies a page number of
     *         results to fetch. You can start navigating through the pages to consume the results.
     *         You do this by passing in a page parameter. Retrieve the next page by adding ?page=2
     *         to the query string. If there are no results to return, then an empty result set will
     *         be returned. Use in query `page=1`.
     * @param  perPage  Optional parameter: This parameter indicates how many records to fetch in
     *         each request. Default value is 20. The maximum allowed values is 200; any per_page
     *         value over 200 will be changed to 200. Use in query `per_page=200`.
     * @return    Returns the ListPublicKeysResponse response from the API call
     */
    public CompletableFuture<ListPublicKeysResponse> listChargifyJsPublicKeysAsync(
            final Integer page,
            final Integer perPage) {
        try { 
            return prepareListChargifyJsPublicKeysRequest(page, perPage).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for listChargifyJsPublicKeys.
     */
    private ApiCall<ListPublicKeysResponse, ApiException> prepareListChargifyJsPublicKeysRequest(
            final Integer page,
            final Integer perPage) throws IOException {
        return new ApiCall.Builder<ListPublicKeysResponse, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/chargify_js_keys.json")
                        .queryParam(param -> param.key("page")
                                .value((page != null) ? page : 1).isRequired(false))
                        .queryParam(param -> param.key("per_page")
                                .value((perPage != null) ? perPage : 20).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .authenticationKey(BaseController.AUTHENTICATION_KEY)
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ListPublicKeysResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}