/*
 * MaxioAdvancedBillingFormerlyChargifyAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.chargify.subdomain.controllers;

import com.chargify.subdomain.ApiHelper;
import com.chargify.subdomain.Server;
import com.chargify.subdomain.exceptions.ApiException;
import com.chargify.subdomain.http.request.HttpMethod;
import com.chargify.subdomain.models.SubscriptionNoteResponse;
import com.chargify.subdomain.models.UpdateSubscriptionNoteRequest;
import com.fasterxml.jackson.core.JsonProcessingException;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class SubscriptionNotesController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public SubscriptionNotesController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Use the following method to create a note for a subscription. ## How to Use Subscription
     * Notes Notes allow you to record information about a particular Subscription in a free text
     * format. If you have structured data such as birth date, color, etc., consider using Metadata
     * instead. Full documentation on how to use Notes in the Chargify UI can be located
     * [here](https://maxio-chargify.zendesk.com/hc/en-us/articles/5404434903181-Subscription-Summary#notes).
     * @param  subscriptionId  Required parameter: The Chargify id of the subscription
     * @param  body  Optional parameter: Example:
     * @return    Returns the SubscriptionNoteResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public SubscriptionNoteResponse createSubscriptionNote(
            final String subscriptionId,
            final UpdateSubscriptionNoteRequest body) throws ApiException, IOException {
        return prepareCreateSubscriptionNoteRequest(subscriptionId, body).execute();
    }

    /**
     * Use the following method to create a note for a subscription. ## How to Use Subscription
     * Notes Notes allow you to record information about a particular Subscription in a free text
     * format. If you have structured data such as birth date, color, etc., consider using Metadata
     * instead. Full documentation on how to use Notes in the Chargify UI can be located
     * [here](https://maxio-chargify.zendesk.com/hc/en-us/articles/5404434903181-Subscription-Summary#notes).
     * @param  subscriptionId  Required parameter: The Chargify id of the subscription
     * @param  body  Optional parameter: Example:
     * @return    Returns the SubscriptionNoteResponse response from the API call
     */
    public CompletableFuture<SubscriptionNoteResponse> createSubscriptionNoteAsync(
            final String subscriptionId,
            final UpdateSubscriptionNoteRequest body) {
        try { 
            return prepareCreateSubscriptionNoteRequest(subscriptionId, body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for createSubscriptionNote.
     */
    private ApiCall<SubscriptionNoteResponse, ApiException> prepareCreateSubscriptionNoteRequest(
            final String subscriptionId,
            final UpdateSubscriptionNoteRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<SubscriptionNoteResponse, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/subscriptions/{subscription_id}/notes.json")
                        .bodyParam(param -> param.value(body).isRequired(false))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("subscription_id").value(subscriptionId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .authenticationKey(BaseController.AUTHENTICATION_KEY)
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, SubscriptionNoteResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Use the following method to delete a note for a Subscription.
     * @param  subscriptionId  Required parameter: The Chargify id of the subscription
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public void deleteSubscriptionNote(
            final String subscriptionId) throws ApiException, IOException {
        prepareDeleteSubscriptionNoteRequest(subscriptionId).execute();
    }

    /**
     * Use the following method to delete a note for a Subscription.
     * @param  subscriptionId  Required parameter: The Chargify id of the subscription
     * @return    Returns the void response from the API call
     */
    public CompletableFuture<Void> deleteSubscriptionNoteAsync(
            final String subscriptionId) {
        try { 
            return prepareDeleteSubscriptionNoteRequest(subscriptionId).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for deleteSubscriptionNote.
     */
    private ApiCall<Void, ApiException> prepareDeleteSubscriptionNoteRequest(
            final String subscriptionId) throws IOException {
        return new ApiCall.Builder<Void, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/subscriptions/{subscription_id}/notes.json")
                        .templateParam(param -> param.key("subscription_id").value(subscriptionId)
                                .shouldEncode(true))
                        .authenticationKey(BaseController.AUTHENTICATION_KEY)
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .nullify404(false)
                        .localErrorCase("422",
                                 ErrorCase.setReason("Unprocessable Entity (WebDAV)",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Use this method to retrieve a list of Notes associated with a Subscription. The response will
     * be an array of Notes.
     * @param  subscriptionId  Required parameter: The Chargify id of the subscription
     * @param  page  Optional parameter: Result records are organized in pages. By default, the
     *         first page of results is displayed. The page parameter specifies a page number of
     *         results to fetch. You can start navigating through the pages to consume the results.
     *         You do this by passing in a page parameter. Retrieve the next page by adding ?page=2
     *         to the query string. If there are no results to return, then an empty result set will
     *         be returned. Use in query `page=1`.
     * @param  perPage  Optional parameter: This parameter indicates how many records to fetch in
     *         each request. Default value is 20. The maximum allowed values is 200; any per_page
     *         value over 200 will be changed to 200. Use in query `per_page=200`.
     * @return    Returns the List of SubscriptionNoteResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public List<SubscriptionNoteResponse> listSubscriptionNotes(
            final String subscriptionId,
            final Integer page,
            final Integer perPage) throws ApiException, IOException {
        return prepareListSubscriptionNotesRequest(subscriptionId, page, perPage).execute();
    }

    /**
     * Use this method to retrieve a list of Notes associated with a Subscription. The response will
     * be an array of Notes.
     * @param  subscriptionId  Required parameter: The Chargify id of the subscription
     * @param  page  Optional parameter: Result records are organized in pages. By default, the
     *         first page of results is displayed. The page parameter specifies a page number of
     *         results to fetch. You can start navigating through the pages to consume the results.
     *         You do this by passing in a page parameter. Retrieve the next page by adding ?page=2
     *         to the query string. If there are no results to return, then an empty result set will
     *         be returned. Use in query `page=1`.
     * @param  perPage  Optional parameter: This parameter indicates how many records to fetch in
     *         each request. Default value is 20. The maximum allowed values is 200; any per_page
     *         value over 200 will be changed to 200. Use in query `per_page=200`.
     * @return    Returns the List of SubscriptionNoteResponse response from the API call
     */
    public CompletableFuture<List<SubscriptionNoteResponse>> listSubscriptionNotesAsync(
            final String subscriptionId,
            final Integer page,
            final Integer perPage) {
        try { 
            return prepareListSubscriptionNotesRequest(subscriptionId, page, perPage).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for listSubscriptionNotes.
     */
    private ApiCall<List<SubscriptionNoteResponse>, ApiException> prepareListSubscriptionNotesRequest(
            final String subscriptionId,
            final Integer page,
            final Integer perPage) throws IOException {
        return new ApiCall.Builder<List<SubscriptionNoteResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/subscriptions/{subscription_id}/notes.json")
                        .queryParam(param -> param.key("page")
                                .value((page != null) ? page : 1).isRequired(false))
                        .queryParam(param -> param.key("per_page")
                                .value((perPage != null) ? perPage : 20).isRequired(false))
                        .templateParam(param -> param.key("subscription_id").value(subscriptionId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .authenticationKey(BaseController.AUTHENTICATION_KEY)
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        SubscriptionNoteResponse[].class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Once you have obtained the ID of the note you wish to read, use this method to show a
     * particular note attached to a subscription.
     * @param  subscriptionId  Required parameter: The Chargify id of the subscription
     * @param  noteId  Required parameter: The Chargify id of the note
     * @return    Returns the SubscriptionNoteResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public SubscriptionNoteResponse readSubscriptionNote(
            final String subscriptionId,
            final String noteId) throws ApiException, IOException {
        return prepareReadSubscriptionNoteRequest(subscriptionId, noteId).execute();
    }

    /**
     * Once you have obtained the ID of the note you wish to read, use this method to show a
     * particular note attached to a subscription.
     * @param  subscriptionId  Required parameter: The Chargify id of the subscription
     * @param  noteId  Required parameter: The Chargify id of the note
     * @return    Returns the SubscriptionNoteResponse response from the API call
     */
    public CompletableFuture<SubscriptionNoteResponse> readSubscriptionNoteAsync(
            final String subscriptionId,
            final String noteId) {
        try { 
            return prepareReadSubscriptionNoteRequest(subscriptionId, noteId).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for readSubscriptionNote.
     */
    private ApiCall<SubscriptionNoteResponse, ApiException> prepareReadSubscriptionNoteRequest(
            final String subscriptionId,
            final String noteId) throws IOException {
        return new ApiCall.Builder<SubscriptionNoteResponse, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/subscriptions/{subscription_id}/notes/{note_id}.json")
                        .templateParam(param -> param.key("subscription_id").value(subscriptionId)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("note_id").value(noteId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .authenticationKey(BaseController.AUTHENTICATION_KEY)
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, SubscriptionNoteResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Use the following method to update a note for a Subscription.
     * @param  subscriptionId  Required parameter: The Chargify id of the subscription
     * @param  noteId  Required parameter: The Chargify id of the note
     * @param  body  Optional parameter: Example:
     * @return    Returns the SubscriptionNoteResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public SubscriptionNoteResponse updateSubscriptionNote(
            final String subscriptionId,
            final String noteId,
            final UpdateSubscriptionNoteRequest body) throws ApiException, IOException {
        return prepareUpdateSubscriptionNoteRequest(subscriptionId, noteId, body).execute();
    }

    /**
     * Use the following method to update a note for a Subscription.
     * @param  subscriptionId  Required parameter: The Chargify id of the subscription
     * @param  noteId  Required parameter: The Chargify id of the note
     * @param  body  Optional parameter: Example:
     * @return    Returns the SubscriptionNoteResponse response from the API call
     */
    public CompletableFuture<SubscriptionNoteResponse> updateSubscriptionNoteAsync(
            final String subscriptionId,
            final String noteId,
            final UpdateSubscriptionNoteRequest body) {
        try { 
            return prepareUpdateSubscriptionNoteRequest(subscriptionId, noteId, body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for updateSubscriptionNote.
     */
    private ApiCall<SubscriptionNoteResponse, ApiException> prepareUpdateSubscriptionNoteRequest(
            final String subscriptionId,
            final String noteId,
            final UpdateSubscriptionNoteRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<SubscriptionNoteResponse, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/subscriptions/{subscription_id}/notes/{note_id}.json")
                        .bodyParam(param -> param.value(body).isRequired(false))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("subscription_id").value(subscriptionId)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("note_id").value(noteId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .authenticationKey(BaseController.AUTHENTICATION_KEY)
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, SubscriptionNoteResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}